

.tool{
    width: 100%;
   background-color: chartreuse; 
   color: black;
}
.wrapper{
//background:white;
display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 185px;
	grid-column-gap: 14px;
	}
.box{
//background:blue;
    width: 100%;
    height: 100px;}

@media (min-width: 320px) and (max-width: 767px) {
	.wrapper{
	grid-template-rows:auto;
	grid-row-gap:120px;
	grid-template-columns:unset;
	}
}
::ng-deep .login-container .mat-dialog-container{
  height: 176px;
  /* margin-top: -129px; */
  width: 458px;
  border-radius: 5px;
  background-color: blue;
  margin-left: auto;
  margin-inline-end: auto;
  margin-block-start: auto;
  margin-top: 1;
  /* margin-bottom: -52px; */
  margin-top: -633px;
  }
  .login-title {
    color: #4a4a4a;
  }
  .login-main {
    line-height: 26px;
  }
  .create-account-link {
    color:#008cff;
  }
  .login-input:focus {
    border: none;
  }
  .login-with {
    color: #9b9b9b;
  }
  
 
  .close-icon {
    margin-block-end: -27px; 
     // margin-top: -18px;
      color: #4a4a4a;
      border: solid 1px;
      border-radius: 10px;
      border: -3px solid #4a4a4a;
      border-radius: -12px;
      margin-right: -18px;
     // margin-top: -32px;
  }
  
  .justify-end {
    justify-content: flex-end;
    margin-top: -21px;
    margin-bottom: -21px;
  }
  
  .button {
    background-color: #4CAF50;
    margin-left: 14px;
    border: none;
    color: white;
    padding: 1px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 0px;
  }
  a:hover {
    background-color: rgb(2, 71, 39);
  }
  
  
  