
<header class="w-100  " >
  <!-- display: flex;
  justify-content: space-between; -->
 <div class="flex " style=" display: flex; justify-content: space-between;">
   <div class= "  w-30">
    <img src="../assets/images/logo.png" alt="grocery-logo">
   </div>
   
   
  


   <div class=" flex w-60" > 
    <div style=" display: grid; grid-template-columns: auto auto auto;  grid-gap: 11px;" >
      <!-- <div> Wish List</div> -->
     <div (click)="openLoginDialog()">Login</div>
     <div (click)="openSignupDialog()">SignUp</div>
     <div (click)="OnCartProducts()"><i class="fa fa-shopping-cart" style="font-size:24px"></i> </div>
      
    </div>
   </div>

 <!-- <div class="flex w-70"  style=" display:flex;flex-direction:row-reverse; white-space: pre-wrap;  flex-shrink: 16px;justify-content: flex-start;  align-content: space-around;">

<div class="flex w-30 items-center" style="background-color:green;"> SignUp</div>
<div class="flex w-30 items-center"  style="background-color:white;">Wish List</div>
<div class="flex w-30 items-center"style="background-color:red;" >Admin Login</div>
<div class="flex w-30 items-center" style="background-color: blue; "> Login</div>

</div> -->
  </div>
</header>
<router-outlet></router-outlet>



<!-- <div>
<input type="text" id="search" name="searchplz">
</div> -->



<div class="container">


<div class="wrapper">
  <div class="box"  *ngFor="let product  of ProdcutListArr"> <img class="img-responsive inno-demo-image"  style="width: 200px; height:190px;" [src]="product .Productimage" /> 
    <div class="inno-demo-title" >{{product.productname}}</div>
    <div class="inno-demo-description">{{product.productprice}}</div>
    <button type="button" (click)="addProductToCart(product )">ADD TO CART</button>
  </div>

</div>



</div>