<div class="flex justify-end">
    <div (click)="signupDialogClose()"><i class="material-icons close-icon pointer">close</i></div>
  </div>
  <div class="f3 fw9 login-title">Create New Account</div>
 
  <form class="pa3-l" [formGroup]="signupForm">
    
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control " placeholder="Enter email"  formControlName="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control " placeholder="Enter password"  formControlName="password">
      </div>
  
 
    <button class="btn btn-primary w-100"  (click)="onCreateAccount()">CREATE ACCOUNT</button>
  </form>

  
  