<div class="container">


  <div class="wrapper">
    <div class="box"  *ngFor="let product  of cartProdcutListArr"> <img class="img-responsive inno-demo-image"   [src]="product .Productimage" /> 
      <div class="inno-demo-title" >{{product.productname}}</div>
      <div class="inno-demo-description">{{product.productprice}}</div>
      <button type="button" >Buy Now</button>
    </div>
  
  </div>
  
  
  
  </div>