// .inno-demo-sub-div {
//     width: 100%;
//     height: 100%;
//     padding: 0px;
//     border-radius: 5px;
//     margin-right: 2%;
//     margin-left: 2%;
//   }
//   .inno-demo-title {
//     font-weight: 600;
//       color: #080f1a;
//       text-align: center;
//       padding-top: 10px;
//       padding-bottom: 10px;
//       font-size: 20px;
//       margin-top: 2%;
//       margin-bottom: 2%;
//   }
//   .inno-demo-description {
//     font-size: 12px;
//       color: #080f1a;
//       padding-left: 10%;
//       padding-bottom: 15%;
//   }
.inno-demo-image{
    width:272px;
}
mat-grid-tile {
    background: lightblue;
  }

.tool{
    width: 100%;
   background-color: chartreuse; 
   color: black;
}
.wrapper{
//background:white;
display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 185px;
	grid-column-gap: 14px;
	}
.box{
//background:blue;
    width: 100%;
    height: 100px;}

@media (min-width: 320px) and (max-width: 767px) {
	.wrapper{
	grid-template-rows:auto;
	grid-row-gap:120px;
	grid-template-columns:unset;
	}
}
