<div class="flex justify-end">
    <div (click)="loginDialogClose()"><i class="material-icons close-icon pointer">close</i>
  </div>
  </div>
  <div>

    <!-- <a class="button"  (click)="onPersonalAccount()">PERSONAL ACCOUNT</a>
    -->
  <!-- <div class="flex justify-between pa3-l login-main">
    <div class="f3 fw9 login-title">Login</div>
    <!-- <div>or <span class="fw9 create-account-link pointer" (click)="openSignupDialog()">Create New Account</span></div> -->
  <!-- </div> --> 
  
  
  <form class="pa3-l" [formGroup]="loginForm" >
    <div class="form-group">
      <label for="email" style=" display: block;">Email address:</label>
      <input type="email"  formControlName="email" class="form-control " placeholder="Enter email" >
    </div>
    <div class="form-group" >
      <label for="password" style="display: block;">Password:</label>
      <input type="password"  formControlName="password" class="form-control " placeholder="Enter password"  >
    </div>
   
    <!-- <a  style="margin-left: 190px;"routerLink="/verifyuseraccount" (click)="loginDialogClose()" class="nohover">Verify Your Account</a> -->
    <button class="btn btn-primary w-100" style="margin-left: 157px;" (click)='onlogin()'>Continue</button>
  </form>
     
  <div class="flex justify-between pa3-l login-main">
   
    <div>or <span class="fw9 create-account-link pointer" (click)="openSignupDialog()">Create New Account</span></div>
  </div>
  
  
  